In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"answer_sql3.csv", sep='|')
data[:4]

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment,o_orderkey,o_custkey,...,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
0,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,5693440,13,...,0.01,0.03,R,F,1995-04-02,1995-04-07,1995-04-18,NONE,RAIL,uriously iro
1,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,5693440,13,...,0.06,0.07,A,F,1995-05-09,1995-05-01,1995-06-03,NONE,TRUCK,fluffily bold re
2,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,5693440,13,...,0.04,0.03,A,F,1995-03-22,1995-05-20,1995-04-02,NONE,SHIP,beans nag blithely ab
3,13,Customer#000000013,nsXQu0oVjD7PM659uC3SRSp,3,13-761-547-5974,3857.34,BUILDING,ounts sleep carefully after the close frays. c...,5693440,13,...,0.03,0.06,A,F,1995-05-15,1995-04-17,1995-05-31,NONE,SHIP,after the furiously silent p

In [3]:
relax_rate = 1.05
contract_rate = 0.95
relax_rate_change = [1.1, 1.2, 1.3, 1.4, 1.5, 1.6]
contract_rate_change = [0.4, 0.5, 0.6, 0.7, 0.8, 0.9]

## relax

In [4]:
data2 = data[(data['c_nationkey'] == 23)]
print(len(data2))
print(len(data2)*relax_rate)

1246
1308.3

In [5]:
data3 = data[(data['l_shipmode'] == "MAIL")]
print(len(data3))
print(len(data3)*relax_rate)

4348
4565.400000000001

In [6]:
for r in relax_rate_change:
    print(len(data3) * r)

4782.8
5217.599999999999
5652.400000000001
6087.2
6522.0
6956.8

## contract

In [7]:
data2 = data[(data['c_nationkey'] == 2)]
print(len(data2))
print(len(data2)*contract_rate)

1247
1184.6499999999999

In [8]:
data1 = data[(data['o_orderstatus'] == "P") & (data['l_returnflag'] == "N")]
print(len(data1))
print(len(data1)*contract_rate)

1967
1868.6499999999999

In [9]:
data3 = data[(data['l_shipmode'] == "SHIP")]
print(len(data3))
print(len(data3)*contract_rate)

4422
4200.9

In [10]:
data3 = data[(data['l_shipinstruct'] == "COLLECT COD")]
print(len(data3))
print(len(data3)*contract_rate)

7538
7161.099999999999

In [11]:
for r in contract_rate_change:
    print(len(data3) * r)

3015.2000000000003
3769.0
4522.8
5276.599999999999
6030.400000000001
6784.2

In [12]:
data3 = data[(data['l_linenumber'] == 5)]
print(len(data3))
print(len(data3)*contract_rate)

3235
3073.25

## refinement1

In [13]:
data1 = data[(data['c_nationkey'] == 12)]
print(len(data1))
print(len(data1) * 1.05)

1334
1400.7

In [14]:
for s in [1.02, 1.04, 1.06, 1.08, 1.10, 1.12]:
    print(len(data1) * s)

1360.68
1387.3600000000001
1414.04
1440.72
1467.4
1494.0800000000002

In [15]:
data3 = data[(data['l_shipmode'] == "TRUCK")]
print(len(data3))
print(len(data3)*0.95)

4352
4134.4

# refinement2

In [16]:
data1 = data[(data['l_linenumber'] == 6) & (data['l_shipmode'] == "SHIP")]
print(len(data1))
print(len(data1) * 1.05)

308
323.40000000000003

In [17]:
for s in [1.02, 1.04, 1.06, 1.08, 1.10, 1.12]:
    print(len(data1) * s)

314.16
320.32
326.48
332.64000000000004
338.8
344.96000000000004

In [18]:
data1 = data[(data['l_shipmode'] == "TRUCK") & (data['o_orderstatus'] == "P")]
print(len(data1))
print(len(data1) * 0.95)

680
646.0

# refine3 using

In [19]:
data1 = data[(data["l_shipinstruct"] == "DELIVER IN PERSON") & (data["o_orderstatus"] == "P") & (data["o_orderpriority"] == "2-HIGH")]
print(len(data1))
print(len(data1) * 0.95)

237
225.14999999999998

In [20]:
for s in [0.88, 0.9, 0.92, 0.94, 0.96, 0.98]:
    print(len(data1) * s)

208.56
213.3
218.04000000000002
222.78
227.51999999999998
232.26

In [21]:
data1 = data[(data["l_linenumber"] == 6) & (data["l_shipmode"] == "SHIP") & (data["o_orderstatus"] == "F") & (data["o_orderpriority"] == "1-URGENT")]
print(len(data1))
print(len(data1) * 1.05)

43
45.15

## change date

In [17]:
s = data["o_orderdate"].values.tolist()
s.sort()
print(s[0], s[-1])

1994-11-15 1995-03-14