In [35]:
import numpy as np
import pandas as pd
import csv
import json

# data attributes

In [36]:
data_file = r"../../InputData/Adult/adult.data"

data = pd.read_csv(data_file, index_col=False)

In [37]:

data['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [38]:
data['relationship'].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [39]:
data['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [40]:
data['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [41]:


data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

# q3

In [5]:
data_file = r"../../InputData/Adult/adult.data"
query_file_prefix = r"../../InputData/Adult/query"
constraint_file_prefix = r"../../InputData/Adult/constraint"
data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['hours-per-week'] <= 50]
print(len(data1))
data2 = data1[data1['capital-loss'] >= 1000]
print(len(data2))
data3 = data2[(data2["occupation"] == "Exec-managerial") | (data2["occupation"] =="Prof-specialty") | (data2["occupation"] =="Protective-serv")]
print(len(data3))
data4 = data3[(data3["relationship"] == "Husband") | (data3["relationship"] =="Wife") | (data3["relationship"] =="Own-child")]
print(len(data4))

32561
28918
1230
471
350

In [145]:
data4_female = data4[data4['sex']=='Female']
print(len(data4_female))

data4_male_white = data4[(data4['sex'] == 'Male') & (data4['race'] == 'White')]
print(len(data4_male_white))

50
277


# q1

In [45]:

data_file = r"../../InputData/Adult/adult.data"
query_file_prefix = r"../../InputData/Adult/query"
constraint_file_prefix = r"../../InputData/Adult/constraint"

data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['education-num'] >= 1]
print(len(data1))
data2 = data1[data1['hours-per-week'] >= 21]
print(len(data2))
data3 = data2[data2['capital-gain'] >= 5501]
print(len(data3))

data3_female = data3[data3['sex']=='Female']
print(len(data3_female))

data3_male_white = data3[(data3['sex'] == 'Male') & (data3['race'] == 'White')]
print(len(data3_male_white))

32561
32561
29633
1425
247
1066


# q2

In [49]:

data_file = r"../../InputData/Adult/adult.data"
query_file_prefix = r"../../InputData/Adult/query"
constraint_file_prefix = r"../../InputData/Adult/constraint"

data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['education-num'] >= 15]
print(len(data1))
data2 = data1[data1['hours-per-week'] <= 40]
print(len(data2))
data3 = data2[(data2["relationship"] == "Husband") | (data2["relationship"] =="Wife") | (data2["relationship"] =="Own-child")]
print(len(data3))


data3_female = data3[data3['sex'] == 'Female']
print(len(data3_female))

data3_male_white = data3[(data3['sex'] == 'Male') & (data3['race'] == 'White')]
print(len(data3_male_white))

32561
989
418
295
33
219


# q4

In [ ]:

data_file = r"../../InputData/Adult/adult.data"
query_file_prefix = r"../../InputData/Adult/query"
constraint_file_prefix = r"../../InputData/Adult/constraint"

data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['education-num'] >= 15]
print(len(data1))
data2 = data1[data1['hours-per-week'] <= 40]
print(len(data2))
data3 = data2[(data2["relationship"] == "Husband") | (data2["relationship"] =="Wife") | (data2["relationship"] =="Own-child")]
print(len(data3))
data4 = data3[(data3["marital-status"] == "Married-civ-spouse") | (data3["marital-status"] =="Separated") | (data3["marital-status"] =="Married-AF-spouse")]
print(len(data4))


data4_female = data4[data4['sex'] == 'Female']
print(len(data4_female))

data4_male_white = data4[(data4['sex'] == 'Male') & (data4['race'] == 'White')]
print(len(data4_male_white))

In [ ]:

# data satisfying query
def test_satisfying_rows(row):
    terms = row[selected_attributes].to_dict()
    for k in terms:
        if k in selection_numeric_attributes:
            if not eval(
                    str(terms[k]) + selection_numeric_attributes[k][0] + str(selection_numeric_attributes[k][1])):
                return 0
        else:
            if terms[k] not in selection_categorical_attributes[k]:
                return 0
    return 1


data['protected_greater_than'] = 0
data['protected_smaller_than'] = 0
data['satisfy'] = 0

data['satisfy'] = data.apply(test_satisfying_rows, axis=1)

# all_relevant_attributes = sensitive_attributes + selected_attributes + \
#                           ['protected_greater_than', 'protected_smaller_than', 'satisfy']
# data = data[all_relevant_attributes]
# data = data.groupby(all_relevant_attributes, dropna=False, sort=False).size().reset_index(name='occurrence')
all_attributes = data.columns.tolist()
data = data.groupby(all_attributes, dropna=False, sort=False).size().reset_index(name='occurrence')

In [127]:
data[:4]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14,protected_greater_than,protected_smaller_than,satisfy,occurrence
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0,0,0,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0,0,0,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0,0,0,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0,0,0,1

In [128]:

data_satisfy = data[data['satisfy']==1]
print(len(data_satisfy))
data_satisfy[:4]

350

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14,protected_greater_than,protected_smaller_than,satisfy,occurrence
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K,0,0,1,1
327,43,Private,187728,Some-college,10,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1887,50,United-States,>50K,0,0,1,1
468,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K,0,0,1,1
597,42,Self-emp-not-inc,214242,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,50,United-States,>50K,0,0,1,1

In [129]:


data_female = data_satisfy[data_satisfy['sex'] == 'Female']

data_female['occurrence'].sum()

50

In [130]:


data_male_white = data_satisfy[(data_satisfy['sex'] == 'Male') & (data_satisfy['race'] == 'White')]

data_male_white['occurrence'].sum()

277