In [15]:
import os
import sys
module_path = os.path.abspath(os.path.join('../../../'))
if module_path not in sys.path:
    sys.path.append(module_path)
import pandas as pd
from Algorithm import ProvenanceSearchValues_6_20220825 as ps
from Algorithm import LatticeTraversal_4_20220901 as lt

In [20]:
data_file = "../../../InputData/Student/student-mat_cat_ranked.csv"
student = pd.read_csv(data_file)

In [21]:
student[:4]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime-C,goout-C,Dalc-C,Walc-C,health-C,absences-C,G1-C,G2-C,G3-C,rank
0,GP,M,16,U,GT3,T,4,3,health,services,...,2,2,1,1,2,0,1,1,1,1.00
1,GP,M,15,U,LE3,A,3,2,services,other,...,2,2,1,1,1,0,1,1,1,2.00
2,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,5,3,1,1,4,0,1,1,1,3.00
3,GP,M,15,U,LE3,T,4,2,teacher,other,...,5,2,1,1,3,0,1,1,1,4.00

In [27]:
select = student[student['G3'] >= 15]
select = select[select['failures'] <= 3]
select = select[(select['Mjob'] == 'health') | (select['Mjob'] == 'teacher') ]
print(len(select))
print(len(select[select['school'] == 'MS']))

25
1

In [28]:
query_file = r"query1.json"
constraint_file = r"constraint1.json"
time_limit = 5 * 60
minimal_refinements1, running_time1, assign_to_provenance_num, \
    provenance_time, search_time = \
        ps.FindMinimalRefinement(data_file, query_file, constraint_file, time_limit)
print(minimal_refinements1)

selected_attributes ['G3', 'failures', 'Mjob']
prepare time = 0.0011970996856689453
time of test_satisfying_rows = 9.5367431640625e-07
time of get_provenance_relax_only = 0.0800471305847168
len(data) not satisfying = 147
possible_value_table:
     G3  failures  Mjob_services  Mjob_at-home  Mjob_other
0   17      1.00           0.00          0.00        0.00
1   16      2.00           1.00          1.00        1.00
2   15      3.00            NaN           NaN         NaN
3   14       NaN            NaN           NaN         NaN
4   13       NaN            NaN           NaN         NaN
5   12       NaN            NaN           NaN         NaN
6   11       NaN            NaN           NaN         NaN
7   10       NaN            NaN           NaN         NaN
8    9       NaN            NaN           NaN         NaN
9    8       NaN            NaN           NaN         NaN
10   7       NaN            NaN           NaN         NaN
11   6       NaN            NaN           NaN         NaN
12   5       NaN            NaN           NaN         NaN
13   4       NaN            NaN           NaN         NaN
14   0       NaN            NaN           NaN         NaN
num of iterations = 13, search space = 60, assign_to_provenance_num = 88
provenance time = 0.10518002510070801
searching time = 0.06087088584899902
[[15, 1.0, 1.0, 1.0, 1.0], [15, 2.0, 0.0, 1.0, 1.0], [14, 1.0, 0.0, 1.0, 1.0], [13, 1.0, 0.0, 0.0, 1.0], [10, 1.0, 0.0, 0.0, 0.0], [13, 1.0, 0.0, 1.0, 0.0], [13, 2.0, 0.0, 0.0, 0.0], [14, 2.0, 1.0, 0.0, 1.0], [13, 1.0, 1.0, 0.0, 0.0], [14, 2.0, 1.0, 1.0, 0.0]]