
All is based on before_selection.csv file

In [4]:
import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler


# My data pre-prossing

In [17]:

# round income to 10 thousand
data=pd.read_csv(r"before_selection.csv")
print(data[:4])
print(data.describe())

data = data.round({'income':-4})
print(data.describe())

data['income'] = data['income'] / 1000
print(data.describe())

   id smoker   county  num_children   race     income age_group  \
0   1  False  county3             1  race3  159027.00    group3
1   4  False  county1             0  race3    8868.00    group3
2   6  False  county3             3  race1  120171.75    group3
3   8   True      NaN             2  race1  220113.00    group3

   complications  label
0              2  False
1              1  False
2              2  False
3             10   True
                id  num_children         income  complications
count   887.000000    887.000000     887.000000     887.000000
mean    495.503946      2.390079  162361.989572       5.145434
std     289.406386      1.676768  109998.544038       3.129673
min       1.000000      0.000000    7653.750000       0.000000
25%     243.500000      1.000000   75882.375000       2.000000
50%     493.000000      2.000000  140383.500000       5.000000
75%     743.000000      4.000000  217931.250000       8.000000
max    1000.000000      5.000000  447204.000000      10.000000
                id  num_children         income  complications
count   887.000000    887.000000     887.000000     887.000000
mean    495.503946      2.390079  162457.722661       5.145434
std     289.406386      1.676768  109896.535399       3.129673
min       1.000000      0.000000   10000.000000       0.000000
25%     243.500000      1.000000   80000.000000       2.000000
50%     493.000000      2.000000  140000.000000       5.000000
75%     743.000000      4.000000  220000.000000       8.000000
max    1000.000000      5.000000  450000.000000      10.000000
                id  num_children      income  complications
count   887.000000    887.000000  887.000000     887.000000
mean    495.503946      2.390079  162.457723       5.145434
std     289.406386      1.676768  109.896535       3.129673
min       1.000000      0.000000   10.000000       0.000000
25%     243.500000      1.000000   80.000000       2.000000
50%     493.000000      2.000000  140.000000       5.000000
75%     743.000000      4.000000  220.000000       8.000000
max    1000.000000      5.000000  450.000000      10.000000

In [18]:

data.to_csv(r"before_selection_income10K.csv", index=False)

In [19]:


data=pd.read_csv(r"before_selection_income10K.csv")
data[:4]

,id,smoker,county,num_children,race,income,age_group,complications,label
0,1,False,county3,1,race3,160.0,group3,2,False
1,4,False,county1,0,race3,10.0,group3,1,False
2,6,False,county3,3,race1,120.0,group3,2,False
3,8,True,NaN,2,race1,220.0,group3,10,True


## Analysis


### 1.

In [8]:



data=pd.read_csv(r"incomeK/before_selection_incomeK.csv")
print(data.groupby(['race', 'county']).size())

print(147/(147+18+21+27), 18/(147+18+21+27), 21/(147+18+21+27), 27/(147+18+21+27))

race   county
race1  county1     54
       county2     63
       county3     54
       county4     53
race2  county1     38
       county2     52
       county3     48
       county4     51
race3  county1    147
       county2     18
       county3     21
       county4     27
dtype: int64
0.6901408450704225 0.08450704225352113 0.09859154929577464 0.1267605633802817

In [24]:


data=pd.read_csv(r"incomeK/before_selection_incomeK.csv")
data_income = data[data['income'] >= 100]
print(data_income[:4])
print(data_income.groupby(['race', 'county']).size())

   id smoker   county  num_children   race  income age_group  complications  \
0   1  False  county3             1  race3   160.0    group3              2
2   6  False  county3             3  race1   120.0    group3              2
3   8   True      NaN             2  race1   220.0    group3             10
5  17  False  county4             3    NaN   120.0    group3              5

   label
0  False
2  False
3   True
5  False
race   county
race1  county1     40
       county2     41
       county3     37
       county4     36
race2  county1     25
       county2     36
       county3     30
       county4     31
race3  county1    100
       county2     14
       county3     13
       county4     18
dtype: int64

In [27]:

data_income_children = data_income[data_income['num_children'] >= 2]
print(data_income_children[:4])
print(data_income_children.groupby(['race', 'county']).size())

   id smoker   county  num_children   race  income age_group  complications  \
2   6  False  county3             3  race1   120.0    group3              2
3   8   True      NaN             2  race1   220.0    group3             10
5  17  False  county4             3    NaN   120.0    group3              5
6  18   True  county1             2    NaN   350.0    group3              8

   label
2  False
3   True
5  False
6   True
race   county
race1  county1    26
       county2    21
       county3    25
       county4    23
race2  county1    18
       county2    24
       county3    19
       county4    17
race3  county1    72
       county2     6
       county3     9
       county4    10
dtype: int64

In [9]:


data=pd.read_csv(r"incomeK/before_selection_incomeK.csv")
data = data[(data['income'] >= 100) & (data['num_children'] >= 2)]
data = data[data['county'].isin(['county2', 'county3'])]
print(len(data))
data.groupby(['race', 'age_group']).size()

113

race   age_group
race1  group1       15
       group2       14
       group3       15
race2  group1       12
       group2       14
       group3       16
race3  group1        5
       group2        4
       group3        4
dtype: int64

In [9]:



data=pd.read_csv(r"incomeK/before_selection_incomeK.csv")
data = data[(data['income'] >= 100) & (data['num_children'] >= 2)]
data = data[data['county'].isin(['county2', 'county4'])]
print(len(data))
data.groupby(['race', 'age_group']).size()

115

race   age_group
race1  group1       14
       group2       14
       group3       14
race2  group1       11
       group2       12
       group3       17
race3  group1        3
       group2        7
       group3        5
dtype: int64

In [10]:



data=pd.read_csv(r"incomeK/before_selection_incomeK.csv")
data = data[(data['income'] >= 400) & (data['num_children'] >= 3)]
data = data[data['county'].isin(['county2', 'county3'])]
print(len(data))
data.groupby(['race']).size()

8

race
race1    4
race2    2
race3    1
dtype: int64

In [ ]:



data=pd.read_csv(r"before_selection_income10K.csv")
data=data[:300]
data.to_csv(r"before_selection_income10K_300.csv", index=False)

In [61]:


data=pd.read_csv(r"SmallerData/300/before_selection_income10K_300.csv")

data = data[(data['income'] >= 50) & (data['num_children'] >= 2)]
data = data[data['county'].isin(['county2', 'county3', 'county1'])]
data.groupby('race').size()

race
race1    32
race2    30
race3    32
dtype: int64

In [ ]:


data=pd.read_csv(r"SmallerData/300/before_selection_income10K_300.csv")

data = data[(data['income'] >= 50) & (data['num_children'] >= 2)]
data = data[data['county'].isin(['county2', 'county3', 'county1'])]
data.groupby('race').size()