In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"answer_sql3.csv", sep='|')
data[:4]

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment,o_orderkey,o_custkey,...,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
0,7,Customer#000000007,TcGe5gaZNgVePxU5kRrvXBfkasDTea,18,28-190-982-9759,9561.95,AUTOMOBILE,"ainst the ironic, express theodolites. express...",8108672,7,...,0.07,0.08,A,F,1995-04-03,1995-02-21,1995-04-06,DELIVER IN PERSON,FOB,"unusual, even excuses. slyly u"
1,7,Customer#000000007,TcGe5gaZNgVePxU5kRrvXBfkasDTea,18,28-190-982-9759,9561.95,AUTOMOBILE,"ainst the ironic, express theodolites. express...",10221120,7,...,0.10,0.07,A,F,1995-03-30,1995-02-26,1995-04-19,NONE,FOB,iously fluffily regular foxes
2,7,Customer#000000007,TcGe5gaZNgVePxU5kRrvXBfkasDTea,18,28-190-982-9759,9561.95,AUTOMOBILE,"ainst the ironic, express theodolites. express...",32384195,7,...,0.06,0.02,A,F,1995-04-02,1995-02-16,1995-04-10,COLLECT COD,REG AIR,regular dolphins wak
3,7,Customer#000000007,TcGe5gaZNgVePxU5kRrvXBfkasDTea,18,28-190-982-9759,9561.95,AUTOMOBILE,"ainst the ironic, express theodolites. express...",42829795,7,...,0.08,0.07,R,F,1995-05-04,1995-04-02,1995-05-16,NONE,FOB,xcuses wake fluffily

In [3]:
relax_rate = 1.05
contract_rate = 0.95
relax_rate_change = [1.1, 1.2, 1.3, 1.4, 1.5, 1.6]
contract_rate_change = [0.4, 0.5, 0.6, 0.7, 0.8, 0.9]

## relax

In [4]:
data2 = data[(data['c_nationkey'] == 23)]
print(len(data2))
print(len(data2) * relax_rate)

12192
12801.6

In [5]:
for r in relax_rate_change:
    print(len(data2) * r)

13411.2
14630.4
15849.6
17068.8
18288.0
19507.2

In [6]:
data3 = data[(data['l_shipmode'] == "MAIL")]
print(len(data3))
print(len(data3) * relax_rate)

42834
44975.700000000004

In [7]:
for r in relax_rate_change:
    print(len(data3) * r)

47117.4
51400.799999999996
55684.200000000004
59967.6
64251.0
68534.40000000001

## contract

In [8]:
data3 = data[(data['c_nationkey'] == 2)]
print(len(data3))
print(len(data3) * contract_rate)

12078
11474.1

In [9]:
data1 = data[(data['o_orderstatus'] == "P") & (data['l_returnflag'] == "N")]
print(len(data1))
print(len(data1) * contract_rate)

22218
21107.1

In [10]:
data3 = data[(data['l_shipmode'] == "SHIP")]
print(len(data3))
print(len(data3) * contract_rate)

42872
40728.4

In [11]:
data3 = data[(data['l_shipinstruct'] == "COLLECT COD")]
print(len(data3))
print(len(data3) * contract_rate)

75253
71490.34999999999

In [12]:
for r in contract_rate_change:
    print(len(data3) * r)

30101.2
37626.5
45151.799999999996
52677.1
60202.4
67727.7

In [13]:
data3 = data[(data['l_linenumber'] == 5)]
print(len(data3))
print(len(data3) * contract_rate)

32078
30474.1

## refinement1

1.1 and 0.9: over time

In [14]:
data1 = data[(data['c_nationkey'] == 12)]
print(len(data1))
print(len(data1) * 1.05)
print(len(data1) * 0.95)

11734
12320.7
11147.3

In [15]:
for s in [1.02, 1.04, 1.06, 1.08, 1.10, 1.12]:
    print(len(data1) * s)

11968.68
12203.36
12438.04
12672.720000000001
12907.400000000001
13142.080000000002

In [16]:
data3 = data[(data['l_shipmode'] == "TRUCK")]
print(len(data3))
print(len(data3) * 0.95)
print(len(data3) * 1.05)

42944
40796.799999999996
45091.200000000004

## refine2

In [19]:
data1 = data[(data['l_linenumber'] == 6) & (data['l_shipmode'] == "SHIP")]
print(len(data1))
print(len(data1) * 1.05)

3162
3320.1000000000004

In [20]:
for s in [1.02, 1.04, 1.06, 1.08, 1.10, 1.12]:
    print(len(data1) * s)

3225.2400000000002
3288.48
3351.7200000000003
3414.96
3478.2000000000003
3541.4400000000005

In [21]:
data1 = data[(data['l_shipmode'] == "TRUCK") & (data['o_orderstatus'] == "P")]
print(len(data1))
print(len(data1) * 0.95)

7826
7434.7

In [22]:
print(data['l_shipinstruct'].unique())

['DELIVER IN PERSON' 'NONE' 'COLLECT COD' 'TAKE BACK RETURN']

## change date

In [23]:
s = data["o_orderdate"].values.tolist()
s.sort()
print(s[0], s[-1])

1994-11-17 1995-03-16