In [92]:
import pandas as pd
import numpy as np

In [93]:
data = pd.read_csv(r"../data/uniform.csv", sep=' ')
print(len(data))
data.head()

10000

   blue           x           y
0     0  196.117936  290.275447
1     0  748.658545  683.729258
2     1  280.366373  507.097135
3     1  238.944206   72.706203
4     1  953.546180  190.831150

In [94]:
# # Assuming you already have a DataFrame called 'df' with columns 'x', 'y', and 'blue'
# # Create a boolean mask to identify rows with duplicated x and y values
# mask = data.duplicated(subset=['x', 'y'], keep=False)
#
# # Apply the mask to the DataFrame to get the rows with same x and y values
# duplicated_rows = data[mask]
#
# # Print the duplicated rows
# print(duplicated_rows)

In [95]:
def jaccard_similarity_set(set_a, set_b):
    # Calculate the intersection of the sets
    intersection = set_a.intersection(set_b)

    # Calculate the union of the sets
    union = set_a.union(set_b)

    # Calculate the Jaccard similarity
    if len(union) == 0:
        return 0.0  # If both sets are empty, the Jaccard similarity is defined as 0

    return len(intersection) / len(union)
#
# def jaccard_similarity_query(data, lb1, ub1, lb2, ub2):
#     d1 = data[(data['x'] >= lb1) & (data['x'] <= ub1)]
#     res1 = d1['x'].index
#     d2 = data[(data['x'] >= lb2) & (data['x'] <= ub2)]
#     res2 = d2['x'].values
#     a = jaccard_similarity_set(set(res1), set(res2))
#     print(a)
#     return a


def jaccard_similarity_query(data, lb1, ub1, lb2, ub2):
    idx1 = data.index[(data['x'] >= lb1) & (data['x'] <= ub1)]
    idx2 = data.index[(data['x'] >= lb2) & (data['x'] <= ub2)]
    a = jaccard_similarity_set(set(idx1), set(idx2))
    print(a)
    return a

In [96]:

def disparity(data, query):
    xmin, ymin, xmax, ymax = query
    input_data = data[(data['x'] >= xmin) & (data['x'] <= xmax) & (data['y'] >= ymin) & (data['y'] <= ymax)]
    print(len(input_data))
    # print(input_data)
    # blue = data[data['blue'] == 1]
    # red = data[data['blue'] == 0]
    red1 = input_data[input_data['blue'] == 0]
    blue1 = input_data[input_data['blue'] == 1]
    # red1 = red[(red['x'] >= xmin) & (red['x'] <= xmax) & (red['y'] >= ymin) & (red['y'] <= ymax)]
    # blue1 = blue[(blue['x'] >= xmin) & (blue['x'] <= xmax) & (blue['y'] >= ymin) & (blue['y'] <= ymax)]
    a = len(red1)
    b = len(blue1)
    print(a, b, a+b, a-b)

In [97]:
# query = [xmin, xmax, ymin, ymax]
query = [200, 500, 400, 800]
disparity(data, query)

563
299 264 563 35

In [98]:

query = [100, 300, 200, 400]
disparity(data, query)

79
43 36 79 7

In [99]:

query = [200, 100, 500, 500]
disparity(data, query)

1212
581 631 1212 -50

In [100]:
data

      blue           x           y
0        0  196.117936  290.275447
1        0  748.658545  683.729258
2        1  280.366373  507.097135
3        1  238.944206   72.706203
4        1  953.546180  190.831150
...    ...         ...         ...
9995     0  199.722105  744.439784
9996     1  105.018756  524.186620
9997     1  168.102303  518.319488
9998     1  880.422167  474.552727
9999     1  685.933957  955.847662

[10000 rows x 3 columns]

In [101]:

query = [10.1958, 30.8233, 19.7014, 38.536]
disparity(data, query)

0
0 0 0 0

# epsilon = 31

In [131]:
# ranged returned by Shetya et.al

disparity(data, [350, 300, 500, 450])

203
87 116 203 -29

## result i found

In [133]:
disparity(data, [350, 300, 500, 450])

disparity(data, [350, 300, 500, 452.9933897684485])

203
87 116 203 -29
209
92 117 209 -25

In [21]:
disparity(data, [200, 500, 347.322361157726, 800.0])

1332
680 652 1332 28

In [22]:
disparity(data, [200, 500, 400.2229732248145, 809.3523681424118])

1215
623 592 1215 31

In [23]:
disparity(data, [200, 500.14488928546336, 400.0, 811.3592713417162])

1225
628 597 1225 31

In [24]:
disparity(data, [195.11715772636677, 500.0, 400.1161569793512, 811.3592713417162])

1243
637 606 1243 31