In [1]:
import os
import time

import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('whitegrid', {'axes.edgecolor': '.2'})
sns.set_context('notebook', font_scale=1.4)

from fairlearn.datasets import fetch_acs_income

# get data

In [9]:
# output = fetch_acs_income(cache=True, data_home=None,
#                           as_frame=True, return_X_y=True,
#                           states=None,  # fetch all states
#                          )
# X, y = output
# X['PINCP'] = y
# X.to_csv('data/acs_income.csv', index=False)

In [10]:
# X.head()

   AGEP  COW  SCHL  MAR    OCCP  POBP  RELP  WKHP  SEX  RAC1P    PINCP
0  18.0  1.0  18.0  5.0  4720.0  13.0  17.0  21.0  2.0    2.0   1600.0
1  53.0  5.0  17.0  5.0  3605.0  18.0  16.0  40.0  1.0    1.0  10000.0
2  41.0  1.0  16.0  5.0  7330.0   1.0  17.0  40.0  1.0    1.0  24000.0
3  18.0  6.0  18.0  5.0  2722.0   1.0  17.0   2.0  2.0    1.0    180.0
4  21.0  5.0  19.0  5.0  3870.0  12.0  17.0  50.0  1.0    1.0  29000.0

In [11]:
# X.describe()

,AGEP,COW,SCHL,MAR,OCCP,POBP,RELP,WKHP,SEX,RAC1P,PINCP
count,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06,1.664500e+06
mean,4.341127e+01,2.077500e+00,1.861814e+01,2.521997e+00,4.180517e+03,6.581708e+01,2.241254e+00,3.833390e+01,1.479282e+00,1.874745e+00,5.666386e+04
std,1.530203e+01,1.825338e+00,3.297826e+00,1.796720e+00,2.658717e+03,9.306245e+01,4.385288e+00,1.308073e+01,4.995707e-01,2.084384e+00,7.306745e+04
min,1.700000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.040000e+02
25%,3.000000e+01,1.000000e+00,1.600000e+01,1.000000e+00,2.205000e+03,1.800000e+01,0.000000e+00,3.500000e+01,1.000000e+00,1.000000e+00,2.000000e+04
50%,4.300000e+01,1.000000e+00,1.900000e+01,1.000000e+00,4.200000e+03,3.600000e+01,1.000000e+00,4.000000e+01,1.000000e+00,1.000000e+00,3.900000e+04
75%,5.600000e+01,3.000000e+00,2.100000e+01,5.000000e+00,5.740000e+03,4.800000e+01,2.000000e+00,4.400000e+01,2.000000e+00,1.000000e+00,6.800000e+04
max,9.600000e+01,8.000000e+00,2.400000e+01,5.000000e+00,9.830000e+03,5.540000e+02,1.700000e+01,9.900000e+01,2.000000e+00,9.000000e+00,1.423000e+06

In [14]:
# df = pd.read_csv('data/acs_income.csv')
# df.SEX.replace(1, 'M', inplace=True)
# df.SEX.replace(2, 'F', inplace=True)
# len(df)

1664500

In [15]:
# df.to_csv('data/acs_income.csv', index=False)

# bucktize age

In [21]:
data = pd.read_csv('data/acs_income.csv')
print(len(data))
print(data['AGEP'].unique())

1664500
[18. 53. 41. 21. 37. 19. 51. 34. 20. 25. 42. 39. 31. 28. 36. 47. 26. 24.
 56. 48. 38. 29. 30. 46. 50. 22. 44. 57. 33. 35. 52. 27. 49. 55. 64. 54.
 62. 32. 23. 17. 43. 60. 69. 63. 40. 45. 70. 71. 58. 59. 61. 73. 66. 67.
 65. 68. 86. 75. 72. 84. 77. 76. 79. 83. 78. 87. 74. 81. 82. 80. 93. 89.
 85. 88. 91. 94. 90. 96. 92. 95.]

In [22]:
bins = [0, 30, 60, float("inf")]
labels = ['0-30', '30-60', '60+']
data['age_bucket'] = pd.cut(data['AGEP'], bins=bins, labels=labels)
print(data['age_bucket'].unique())
print(data[:5])

['0-30', '30-60', '60+']
Categories (3, object): ['0-30' < '30-60' < '60+']
   AGEP  COW  SCHL  MAR    OCCP  POBP  RELP  WKHP SEX  RAC1P    PINCP  \
0  18.0  1.0  18.0  5.0  4720.0  13.0  17.0  21.0   F    2.0   1600.0
1  53.0  5.0  17.0  5.0  3605.0  18.0  16.0  40.0   M    1.0  10000.0
2  41.0  1.0  16.0  5.0  7330.0   1.0  17.0  40.0   M    1.0  24000.0
3  18.0  6.0  18.0  5.0  2722.0   1.0  17.0   2.0   F    1.0    180.0
4  21.0  5.0  19.0  5.0  3870.0  12.0  17.0  50.0   M    1.0  29000.0

  age_bucket
0       0-30
1      30-60
2      30-60
3       0-30
4       0-30

In [23]:
data.to_csv('data/acs_income.csv', index=False)

# bucktize occupation

In [8]:
data = pd.read_csv('data/acs_income.csv')

In [20]:

# occupation code at https://usa.ipums.org/usa/volii/c2ssoccup.shtml
# N/A: 0
# Management, Business, Science, and Arts Occupations: 0010 - 0425
# Business Operations Specialists: 0500 - 750
# Financial Specialists: 0800 - 0950
# Computer and Mathematical Occupations: 1000 - 1220
# Architecture and Engineering Occupations: 1300 - 1560
# Life, Physical, and Social Science Occupations: 1600 - 1965
# Community and Social Service Occupations: 2000 - 2060
# Legal Occupations: 2100 - 2160
# Education, Training, and Library Occupations: 2200 - 2550
# Arts, Design, Entertainment, Sports, and Media Occupations: 2600 - 2920
# Healthcare Practitioners and Technical Occupations: 3000 - 3540
# Healthcare Support Occupations: 3600 - 3655
# Protective Service Occupations: 3700 - 3955
# Food Preparation and Serving Occupations: 4000 - 4160
# Building and Grounds Cleaning and Maintenance Occupations: 4200 - 4290
# Personal Care and Service Occupations: 4300 - 4650
# Sales and Related Occupations: 4700 - 4965
# Office and Administrative Support Occupations: 5000 - 5940
# Farming, Fishing, and Forestry Occupations: 6000 - 6130
# Construction and Extraction Occupations: 6200 - 6765
# Extraction Workers: 6800 - 6940
# Installation, Maintenance, and Repair Workers: 7000 - 7640
# Production Occupations: 7700 - 8990
# Transportation and Material Moving Occupations: 9000 - 9750
# Military Specific Occupations: 9800 - 9920

def categorize_occupation(code):
    if code == 0:
        return 'N/A'
    elif 10 <= code <= 450:
        return 'MBSA'
    elif 500 <= code <= 750:
        return 'BOS'
    elif 800 <= code < 1000:
        return 'FS'
    elif 1000 <= code < 1300:
        return 'CMO'
    elif 1300 <= code < 1600:
        return 'AEO'
    elif 1600 <= code < 2000:
        return 'LPSSO'
    elif 2000 <= code < 2100:
        return 'CSSO'
    elif 2100 <= code < 2200:
        return 'LO'
    elif 2200 <= code < 2600:
        return 'ETLO'
    elif 2600 <= code <= 2920:
        return 'ASESMO'
    elif 3000 <= code <= 3590:
        return  'HPTO'
    elif 3600 <= code < 3700:
        return 'HSO'
    elif 3700 <= code < 4000:
        return 'PSO'
    elif 4000 <= code < 4200:
        return 'FPASO'
    elif 4200 <= code < 4300:
        return 'BGCMO'
    elif 4300 <= code < 4700:
        return 'PCSO'
    elif 4700 <= code <= 4965:
        return 'SRO'
    elif 5000 <= code <= 5940:
        return 'OASO'
    elif 6000 <= code <= 6130:
        return 'FFFO'
    elif 6200 <= code < 6800:
        return 'CEO'
    elif 6800 <= code < 7000:
        return 'EW'
    elif 7000 <= code < 7700:
        return 'IMRW'
    elif 7700 <= code <= 8990:
        return 'PO'
    elif 9000 <= code <= 9760:
        return 'TMMO'
    elif 9800 <= code <= 9920:
        return 'MSO'
    else:
        raise Exception('Unknown occupation code: {}'.format(code))


    # Add more categories based on the given labels

data['OCCP_bucket'] = data['OCCP'].apply(categorize_occupation)


print(data['OCCP_bucket'].unique())
print(data[:5])

['SRO' 'HSO' 'IMRW' 'ASESMO' 'PSO' 'TMMO' 'OASO' 'BGCMO' 'PCSO' 'FPASO'
 'ETLO' 'BOS' 'PO' 'MBSA' 'CEO' 'AEO' 'FFFO' 'CMO' 'LO' 'MSO' 'LPSSO' 'FS'
 'HPTO' 'CSSO' 'EW']
   AGEP  COW  SCHL  MAR    OCCP  POBP  RELP  WKHP SEX  RAC1P    PINCP  \
0  18.0  1.0  18.0  5.0  4720.0  13.0  17.0  21.0   F    2.0   1600.0
1  53.0  5.0  17.0  5.0  3605.0  18.0  16.0  40.0   M    1.0  10000.0
2  41.0  1.0  16.0  5.0  7330.0   1.0  17.0  40.0   M    1.0  24000.0
3  18.0  6.0  18.0  5.0  2722.0   1.0  17.0   2.0   F    1.0    180.0
4  21.0  5.0  19.0  5.0  3870.0  12.0  17.0  50.0   M    1.0  29000.0

  age_bucket OCCP_bucket
0       0-30         SRO
1      30-60         HSO
2      30-60        IMRW
3       0-30      ASESMO
4       0-30         PSO

In [21]:
data.to_csv('data/acs_income.csv', index=False)

In [24]:
len(data[data['POBP'] == 48])

92244

In [25]:
len(data[data['POBP'] == 6])

139833

# bucketize PINCP

In [4]:
data = pd.read_csv('data/acs_income.csv')
print(len(data))

1664500

In [5]:
print(data.describe())

               AGEP           COW          SCHL           MAR          OCCP  \
count  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06
mean   4.341127e+01  2.077500e+00  1.861814e+01  2.521997e+00  4.180517e+03
std    1.530203e+01  1.825338e+00  3.297826e+00  1.796720e+00  2.658717e+03
min    1.700000e+01  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+01
25%    3.000000e+01  1.000000e+00  1.600000e+01  1.000000e+00  2.205000e+03
50%    4.300000e+01  1.000000e+00  1.900000e+01  1.000000e+00  4.200000e+03
75%    5.600000e+01  3.000000e+00  2.100000e+01  5.000000e+00  5.740000e+03
max    9.600000e+01  8.000000e+00  2.400000e+01  5.000000e+00  9.830000e+03

               POBP          RELP          WKHP         RAC1P         PINCP
count  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06
mean   6.581708e+01  2.241254e+00  3.833390e+01  1.874745e+00  5.666386e+04
std    9.306245e+01  4.385288e+00  1.308073e+01  2.084384e+00  7.306745e+04
min    1.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00  1.040000e+02
25%    1.800000e+01  0.000000e+00  3.500000e+01  1.000000e+00  2.000000e+04
50%    3.600000e+01  1.000000e+00  4.000000e+01  1.000000e+00  3.900000e+04
75%    4.800000e+01  2.000000e+00  4.400000e+01  1.000000e+00  6.800000e+04
max    5.540000e+02  1.700000e+01  9.900000e+01  9.000000e+00  1.423000e+06

In [6]:
bins = [0, 20000, 40000, 60000, float("inf")]
labels = ['<20K', '20K-40K', '40K-60K', '>60K']
data['PINCP_bucket'] = pd.cut(data['PINCP'], bins=bins, labels=labels)
print(data['PINCP_bucket'].unique())
print(data[:5])

['<20K', '20K-40K', '40K-60K', '>60K']
Categories (4, object): ['<20K' < '20K-40K' < '40K-60K' < '>60K']
   AGEP  COW  SCHL  MAR    OCCP  POBP  RELP  WKHP SEX  RAC1P    PINCP  \
0  18.0  1.0  18.0  5.0  4720.0  13.0  17.0  21.0   F    2.0   1600.0
1  53.0  5.0  17.0  5.0  3605.0  18.0  16.0  40.0   M    1.0  10000.0
2  41.0  1.0  16.0  5.0  7330.0   1.0  17.0  40.0   M    1.0  24000.0
3  18.0  6.0  18.0  5.0  2722.0   1.0  17.0   2.0   F    1.0    180.0
4  21.0  5.0  19.0  5.0  3870.0  12.0  17.0  50.0   M    1.0  29000.0

  age_bucket OCCP_bucket  all PINCP_bucket
0       0-30         SRO  yes         <20K
1      30-60         HSO  yes         <20K
2      30-60        IMRW  yes      20K-40K
3       0-30      ASESMO  yes         <20K
4       0-30         PSO  yes      20K-40K

In [7]:
data.to_csv('data/acs_income.csv', index=False)