In [55]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [56]:
data = pd.read_csv('../../data/students.csv')
data[:3]

,Unnamed: 0,id,school,sex,age,address,famsize,Pstatus,Medu,Fedu,...,freetime,goout,Dalc,Walc,health,absences,grade1,grade2,grade3,all
0,0,1,GP,F,17-18,Urban,GT3,A,4,4,...,3,4,1,1,3,6,5,6,6,yes
1,1,2,GP,F,17-18,Urban,GT3,T,1,1,...,3,3,1,1,3,4,5,5,6,yes
2,2,3,GP,F,15-16,Urban,LE3,T,1,1,...,3,2,2,3,3,10,7,8,10,yes

# original query:

In [57]:
data1 = data[(data["age"] == "15-16") | (data["age"] == "17-18")]
data1 = data1[data1["higherEdIntention"] == "yes"]
data1 = data1[(data1["grade1"] >= 13) & (data1["grade2"] >= 13)]

In [58]:
print(len(data1[data1["address"] == "Rural"]))
print(len(data1[data1["sex"] == "F"]), len(data1[data1["sex"] == "M"]))
print(len(data1))

13
46 54
100

In [65]:
data1 = data[(data["age"] == "17-18") | (data["age"] == "15-16")]
data1 = data1[(data1["higherEdIntention"] == "yes") | (data1["higherEdIntention"] == "no")]
data1 = data1[(data1["grade1"] >= 14) & (data1["grade2"] >= 12)]

In [66]:
print(len(data1[data1["address"] == "Rural"]))
print(len(data1[data1["sex"] == "F"]))
print(len(data1))

15
40
87

In [67]:
data1 = data[(data["age"] == "17-18") | (data["age"] == "15-16") | (data["age"] == "19-20")]
data1 = data1[data1["higherEdIntention"] == "yes"]
data1 = data1[(data1["grade1"] >= 14) & (data1["grade2"] >= 12)]

In [68]:
print(len(data1[data1["address"] == "Rural"]))
print(len(data1[data1["sex"] == "F"]))
print(len(data1))

16
43
92

In [69]:
data1 = data[(data["age"] == "17-18")]
data1 = data1[(data1["higherEdIntention"] == "yes")]
data1 = data1[(data1["grade1"] >= 12) & (data1["grade2"] >= 11)]

In [70]:
print(len(data1[data1["address"] == "Rural"]))
print(len(data1[data1["sex"] == "F"]))
print(len(data1))

16
40
68

In [71]:
data1 = data[(data["age"] == "17-18") | (data["age"] == "19-20")]
data1 = data1[(data1["higherEdIntention"] == "yes")]
data1 = data1[(data1["grade1"] >= 13) & (data1["grade2"] >= 11)]

In [72]:
print(len(data1[data1["address"] == "Rural"]))
print(len(data1[data1["sex"] == "F"]))
print(len(data1))

15
36
61

In [73]:
data1 = data[(data["age"] == "17-18")]
data1 = data1[(data1["higherEdIntention"] == "yes")]
data1 = data1[(data1["grade1"] >= 11) & (data1["grade2"] >= 12)]

In [74]:
print(len(data1[data1["address"] == "Rural"]))
print(len(data1[data1["sex"] == "F"]))
print(len(data1))

15
37
63