In [1]:
import pandas as pd
import numpy as np

In [4]:
adult = pd.read_csv(r"adult.data", index_col=False)

adult[:5]

/var/folders/y1/vnpd8xm133v6hdbz8zf5wzsc0000gn/T/ipykernel_84506/758394493.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  adult = pd.read_csv(r"adult.data", index_col=False)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [5]:

adult_sample = adult.sample(9604)
adult_sample[:4]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
18179,26,Private,152452,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States
2244,63,Federal-gov,217994,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States
14890,28,Private,184078,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
12566,44,Private,156413,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,44,United-States

In [6]:
adult_sample.to_csv("adult_sample.csv", index=False)