In [1]:
import csv
import pandas as pd

In [2]:
data = pd.read_csv(r"lineitem.tbl", sep='|')
data[:3]

,l_orderkey,l_partkey,l_suppkey,l_linenumber,l_quantity,l_extendedprice,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment,Unnamed: 16
0,1,156,4,1,17,17954.55,0.04,0.02,N,O,1996-03-13,1996-02-12,1996-03-22,DELIVER IN PERSON,TRUCK,egular courts above the,NaN
1,1,68,9,2,36,34850.16,0.09,0.06,N,O,1996-04-12,1996-02-28,1996-04-20,TAKE BACK RETURN,MAIL,ly final dependencies: slyly bold,NaN
2,1,64,5,3,8,7712.48,0.10,0.02,N,O,1996-01-29,1996-03-05,1996-01-31,TAKE BACK RETURN,REG AIR,"riously. regular, express dep",NaN

In [4]:
data.columns

Index(['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity',
       'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag',
       'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate',
       'l_shipinstruct', 'l_shipmode', 'l_comment', 'Unnamed: 16'],
      dtype='object')

In [7]:
data['l_shipdate'].unique()

array(['1996-03-13', '1996-04-12', '1996-01-29', ..., '1998-09-06',
       '1998-06-11', '1996-10-30'], dtype=object)

In [9]:
data['l_shipdate'] = pd.to_datetime(data.l_shipdate, format='%Y-%m-%d')
data['l_shipdate'].unique()

array(['1996-03-13T00:00:00.000000000', '1996-04-12T00:00:00.000000000',
       '1996-01-29T00:00:00.000000000', ...,
       '1998-09-06T00:00:00.000000000', '1998-06-11T00:00:00.000000000',
       '1996-10-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [10]:

data['l_shipdate'] = data['l_shipdate'].dt.strftime('%Y%m%d').astype(int)
data['l_shipdate']

0       19960313
1       19960412
2       19960129
3       19960421
4       19960330
          ...
6000    19960913
6001    19961128
6002    19961030
6003    19961015
6004    19940120
Name: l_shipdate, Length: 6005, dtype: int64

In [11]:
data['l_commitdate'] = pd.to_datetime(data.l_commitdate, format='%Y-%m-%d')
data['l_commitdate'].unique()

array(['1996-02-12T00:00:00.000000000', '1996-02-28T00:00:00.000000000',
       '1996-03-05T00:00:00.000000000', ...,
       '1994-07-21T00:00:00.000000000', '1992-06-21T00:00:00.000000000',
       '1994-02-06T00:00:00.000000000'], dtype='datetime64[ns]')

In [12]:

data['l_commitdate'] = data['l_commitdate'].dt.strftime('%Y%m%d').astype(int)
data['l_commitdate']

0       19960212
1       19960228
2       19960305
3       19960330
4       19960314
          ...
6000    19961029
6001    19960917
6002    19961013
6003    19961027
6004    19940206
Name: l_commitdate, Length: 6005, dtype: int64

In [13]:
data['l_receiptdate'] = pd.to_datetime(data.l_receiptdate, format='%Y-%m-%d')
data['l_receiptdate'].unique()

array(['1996-03-22T00:00:00.000000000', '1996-04-20T00:00:00.000000000',
       '1996-01-31T00:00:00.000000000', ...,
       '1994-11-11T00:00:00.000000000', '1995-05-17T00:00:00.000000000',
       '1996-11-09T00:00:00.000000000'], dtype='datetime64[ns]')

In [14]:

data['l_receiptdate'] = data['l_receiptdate'].dt.strftime('%Y%m%d').astype(int)
data['l_receiptdate']

0       19960322
1       19960420
2       19960131
3       19960516
4       19960401
          ...
6000    19960921
6001    19961205
6002    19961112
6003    19961109
6004    19940210
Name: l_receiptdate, Length: 6005, dtype: int64

In [16]:
data.to_csv(r"lineitem.tbl", sep='|', index=False)

 ## table orders

In [17]:
data = pd.read_csv(r"orders.tbl", sep='|')
data[:3]

,o_orderkey,o_custkey,o_orderstatus,o_totalprice,o_orderdate,o_orderpriority,o_clerk,o_shippriority,o_comment,Unnamed: 9
0,1,37,O,131251.81,1996-01-02,5-LOW,Clerk#000000951,0,nstructions sleep furiously among,NaN
1,2,79,O,40183.29,1996-12-01,1-URGENT,Clerk#000000880,0,"foxes. pending accounts at the pending, silen...",NaN
2,3,124,F,160882.76,1993-10-14,5-LOW,Clerk#000000955,0,sly final accounts boost. carefully regular id...,NaN

In [18]:
data['o_orderdate'].unique()

array(['1996-01-02', '1996-12-01', '1993-10-14', ..., '1993-12-27',
       '1995-09-16', '1992-05-15'], dtype=object)

In [19]:
data['o_orderdate'] = pd.to_datetime(data.o_orderdate, format='%Y-%m-%d')
data['o_orderdate'].unique()

array(['1996-01-02T00:00:00.000000000', '1996-12-01T00:00:00.000000000',
       '1993-10-14T00:00:00.000000000', ...,
       '1993-12-27T00:00:00.000000000', '1995-09-16T00:00:00.000000000',
       '1992-05-15T00:00:00.000000000'], dtype='datetime64[ns]')

In [20]:

data['o_orderdate'] = data['o_orderdate'].dt.strftime('%Y%m%d').astype(int)
data['o_orderdate']

0       19960102
1       19961201
2       19931014
3       19951011
4       19940730
          ...
1495    19940618
1496    19950112
1497    19920422
1498    19960803
1499    19931122
Name: o_orderdate, Length: 1500, dtype: int64

In [21]:
data.to_csv(r"orders.tbl", sep='|', index=False)