In [1]:
import numpy as np
import pandas as pd
import csv
import json

In [2]:
data_file = r"before_selection_incomeK.csv"
query_file_prefix = r"query1.json"

data = pd.read_csv(data_file, index_col=False)

print(data['num-children'].unique())
print(data['complications'].unique())

[1 0 3 2 4 5]
[ 2  1 10  5  8  3  9  6  7  0  4]

# q1

In [17]:
data_file = r"before_selection_incomeK.csv"
query_file_prefix = r"query1.json"
data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['income'] >= 100]
print(len(data1))
data2 = data1[data1['num-children'] >= 1]
print(len(data2))

print(data2.groupby(['race', 'county']).size())

data3 = data2[(data2["county"] == "county2") | (data2["county"] =="county3")]
print(len(data3))

data3_race = data3[data3['race'] == 'race3']
print(len(data3_race))

data3_raceage = data3[(data3['race'] == 'race2') & (data3['age-group'] == "group2")]
print(len(data3_raceage))
#
# print(data3.groupby(['race']).size())
print(data3.groupby(['race', 'age-group']).size())

887
578
485
race   county
race1  county1    32
       county2    30
       county3    32
       county4    28
race2  county1    22
       county2    28
       county3    25
       county4    24
race3  county1    81
       county2     8
       county3    10
       county4    14
dtype: int64
150
18
18
race   age-group
race1  group1       21
       group2       19
       group3       22
race2  group1       13
       group2       18
       group3       22
race3  group1        5
       group2        7
       group3        6
dtype: int64

# q2

In [6]:
data_file = r"before_selection_incomeK.csv"
query_file_prefix = r"query2.json"

data = pd.read_csv(data_file, index_col=False)

print(len(data))
data1 = data[data['income'] >= 150]
print(len(data1))
data2 = data1[data1['num-children'] <= 4]
print(len(data2))
data3 = data2[(data2["county"] == "county2") | (data2["county"] =="county4")]
print(len(data3))
data4 = data3[data3['complications'] <= 8]
print(len(data4))

data4_race = data4[data4['race'] == 'race3']
print(len(data4_race))

print(data4.groupby(['race']).size())
print(data4.groupby(['age-group']).size())
print(data4.groupby(['race', 'age-group']).size())

887
414
133
62
44
10
race
race1    21
race2    12
race3    10
dtype: int64
age-group
group1    14
group2    19
group3    11
dtype: int64
race   age-group
race1  group1       9
       group2       8
       group3       4
race2  group1       2
       group2       5
       group3       5
race3  group1       3
       group2       5
       group3       2
dtype: int64


# income

In [6]:
data_file = r"before_selection_incomeK.csv"

data = pd.read_csv(data_file, index_col=False)

data.describe()

                id  num-children      income  complications
count   887.000000    887.000000  887.000000     887.000000
mean    495.503946      2.390079  162.365276       5.145434
std     289.406386      1.676768  110.010853       3.129673
min       1.000000      0.000000    8.000000       0.000000
25%     243.500000      1.000000   76.000000       2.000000
50%     493.000000      2.000000  140.000000       5.000000
75%     743.000000      4.000000  218.000000       8.000000
max    1000.000000      5.000000  447.000000      10.000000

In [8]:

print(len(data))
data1 = data[data['income'] >= 450]
print(len(data1))
data2 = data1[data1['num-children'] <= 4]
print(len(data2))
data3 = data2[(data2["county"] == "county2") | (data2["county"] =="county4")]
print(len(data3))
data4 = data3[data3['complications'] <= 8]
print(len(data4))

data4_race = data4[data4['race'] == 'race3']
print(len(data4_race))

print(data4.groupby(['race']).size())
print(data4.groupby(['age-group']).size())
print(data4.groupby(['race', 'age-group']).size())

887
0
0
0
0
0
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)

# num_children

In [9]:
data_file = r"before_selection_incomeK.csv"

data = pd.read_csv(data_file, index_col=False)

data.describe()

                id  num-children      income  complications
count   887.000000    887.000000  887.000000     887.000000
mean    495.503946      2.390079  162.365276       5.145434
std     289.406386      1.676768  110.010853       3.129673
min       1.000000      0.000000    8.000000       0.000000
25%     243.500000      1.000000   76.000000       2.000000
50%     493.000000      2.000000  140.000000       5.000000
75%     743.000000      4.000000  218.000000       8.000000
max    1000.000000      5.000000  447.000000      10.000000