In [ ]:
import pandas as pd
import numpy as np
import csv
import time


# pre-processing

In [58]:


data = pd.read_csv(r"CleanAdult.csv")
data.describe()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,38.547941,2.204502,10.313321,10.118460,2.585180,5.969572,1.412697,3.680288,0.675048,1101.430344,88.595418,40.938017,36.401022,0.247844
std,13.217870,0.958122,3.817014,2.552881,1.500458,4.026400,1.597227,0.832353,0.468362,7506.430084,404.956092,12.007508,6.079856,0.431766
min,17.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,2.000000,9.000000,9.000000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,2.000000,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,47.000000,2.000000,12.000000,13.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,40.000000,1.000000

In [59]:


data = data.round({'capital-gain':-3})
data = data.round({'capital-loss':-3})

data['capital-gain'] = data['capital-gain'] / 1000

data['capital-loss'] = data['capital-loss'] / 1000

data.describe()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,38.547941,2.204502,10.313321,10.118460,2.585180,5.969572,1.412697,3.680288,0.675048,1.100482,0.091659,40.938017,36.401022,0.247844
std,13.217870,0.958122,3.817014,2.552881,1.500458,4.026400,1.597227,0.832353,0.468362,7.507727,0.419212,12.007508,6.079856,0.431766
min,17.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,2.000000,9.000000,9.000000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,2.000000,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,47.000000,2.000000,12.000000,13.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,100.000000,4.000000,99.000000,40.000000,1.000000

In [60]:


def label_age(row):
    if row['age'] <= 30:
        return "age_group1"
    elif row['age'] <= 60:
        return "age_group2"
    else:
        return "age_group3"



data['age_group'] = data.apply (lambda row: label_age(row), axis=1)

data.describe()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,38.547941,2.204502,10.313321,10.118460,2.585180,5.969572,1.412697,3.680288,0.675048,1.100482,0.091659,40.938017,36.401022,0.247844
std,13.217870,0.958122,3.817014,2.552881,1.500458,4.026400,1.597227,0.832353,0.468362,7.507727,0.419212,12.007508,6.079856,0.431766
min,17.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,2.000000,9.000000,9.000000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,2.000000,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,47.000000,2.000000,12.000000,13.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,100.000000,4.000000,99.000000,40.000000,1.000000

In [61]:



def label_occupation(row):
    if row['occupation'] < 5:
        return 'occupation_group1'
    elif row['occupation'] < 10:
        return 'occupation_group2'
    else:
        return 'occupation_group3'



data['occupation_group'] = data.apply (lambda row: label_occupation(row), axis=1)

data.describe()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,38.547941,2.204502,10.313321,10.118460,2.585180,5.969572,1.412697,3.680288,0.675048,1.100482,0.091659,40.938017,36.401022,0.247844
std,13.217870,0.958122,3.817014,2.552881,1.500458,4.026400,1.597227,0.832353,0.468362,7.507727,0.419212,12.007508,6.079856,0.431766
min,17.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,2.000000,9.000000,9.000000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,2.000000,11.000000,10.000000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,47.000000,2.000000,12.000000,13.000000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,6.000000,15.000000,16.000000,6.000000,13.000000,5.000000,4.000000,1.000000,100.000000,4.000000,99.000000,40.000000,1.000000

In [62]:

data["capital-gain"] = data["capital-gain"].apply(np.int64)

data["capital-loss"] = data["capital-loss"].apply(np.int64)

data[:4]

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_group,occupation_group
0,25,2,1,7,4,6,3,2,1,0,0,40,38,0,age_group1,occupation_group2
1,38,2,11,9,2,4,0,4,1,0,0,50,38,0,age_group2,occupation_group1
2,28,1,7,12,2,10,0,4,1,0,0,40,38,1,age_group1,occupation_group3
3,44,2,15,10,2,6,0,2,1,8,0,40,38,1,age_group2,occupation_group2

In [63]:

print(data.dtypes)

age                  int64
workclass            int64
education            int64
educational-num      int64
marital-status       int64
occupation           int64
relationship         int64
race                 int64
gender               int64
capital-gain         int64
capital-loss         int64
hours-per-week       int64
native-country       int64
income               int64
age_group           object
occupation_group    object
dtype: object

In [64]:

data = data.drop(columns=['age'])
data = data.drop(columns=['occupation'])

data.to_csv("adult_preprocessed.csv", index=False)

In [65]:
data[:3]

,workclass,education,educational-num,marital-status,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,age_group,occupation_group
0,2,1,7,4,3,2,1,0,0,40,38,0,age_group1,occupation_group2
1,2,11,9,2,0,4,1,0,0,50,38,0,age_group2,occupation_group1
2,1,7,12,2,0,4,1,0,0,40,38,1,age_group1,occupation_group3

# explore

In [102]:
data = pd.read_csv("adult_preprocessed.csv")

data.describe()

,workclass,education,educational-num,marital-status,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,2.204502,10.313321,10.118460,2.585180,1.412697,3.680288,0.675048,1.100482,0.091659,40.938017,36.401022,0.247844
std,0.958122,3.817014,2.552881,1.500458,1.597227,0.832353,0.468362,7.507727,0.419212,12.007508,6.079856,0.431766
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2.000000,9.000000,9.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,2.000000,11.000000,10.000000,2.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,2.000000,12.000000,13.000000,4.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,6.000000,15.000000,16.000000,6.000000,5.000000,4.000000,1.000000,100.000000,4.000000,99.000000,40.000000,1.000000

In [107]:
data = pd.read_csv("adult_preprocessed.csv")


data = data[(data['hours-per-week'] <= 50) & (data['capital-loss'] >= 3)]
data = data[data['occupation_group'].isin(['occupationgroup2'])]
print(len(data))
data.groupby(['race']).size()

17

race
2     1
4    16
dtype: int64

In [108]:
data = pd.read_csv("adult_preprocessed.csv")

data = data[(data['hours-per-week'] <= 50) & (data['capital-loss'] >= 3)]
data = data[data['occupation_group'].isin(['occupationgroup2'])]
print(len(data))
data.groupby(['gender', 'age_group']).size()

17

gender  age_group
0       agegroup2    9
        agegroup3    2
1       agegroup1    1
        agegroup2    4
        agegroup3    1
dtype: int64

In [100]:

data = pd.read_csv("adult_preprocessed.csv")

data = data[(data['educational-num'] >= 10) & (data['capital-gain'] >= 2)]
data = data[data['occupation_group'].isin(['occupation_group1'])]
print(len(data))

data.groupby(['marital-status']).size()

1659

marital-status
0     174
2    1160
3      15
4     240
5      31
6      39
dtype: int64

In [101]:

data = pd.read_csv("adult_preprocessed.csv")

data = data[(data['educational-num'] >= 10) & (data['capital-gain'] >= 10)]
data = data[data['occupation_group'].isin(['occupation_group1'])]
print(len(data))

data.groupby(['marital-status']).size()

388

marital-status
0     39
2    276
3      6
4     55
5      7
6      5
dtype: int64