In [75]:
import csv
import numpy as np
import pandas as pd

In [85]:
data = pd.read_csv(r"answer_sql1.csv", sep='|')
data[:4]

,l_orderkey,l_partkey,l_suppkey,l_linenumber,l_quantity,l_extendedprice,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
0,1,15519,785,1,17.0,24386.67,0.04,0.02,N,O,1996-03-13,1996-02-12,1996-03-22,DELIVER IN PERSON,TRUCK,egular courts above the
1,1,6731,732,2,36.0,58958.28,0.09,0.06,N,O,1996-04-12,1996-02-28,1996-04-20,TAKE BACK RETURN,MAIL,ly final dependencies: slyly bold
2,1,6370,371,3,8.0,10210.96,0.10,0.02,N,O,1996-01-29,1996-03-05,1996-01-31,TAKE BACK RETURN,REG AIR,"riously. regular, express dep"
3,1,214,465,4,28.0,31197.88,0.09,0.06,N,O,1996-04-21,1996-03-30,1996-05-16,NONE,AIR,lites. fluffily even de

In [86]:
len(data)

586593

# relax

In [65]:
data["l_linenumber"]

0         1
1         2
2         3
3         4
4         5
         ..
586588    2
586589    3
586590    4
586591    1
586592    2
Name: l_linenumber, Length: 586593, dtype: int64

In [66]:
data1 = data[(data['l_linestatus'] == "O") & (data['l_returnflag'] == "N")]
print(len(data1))

286737

In [67]:
data2 = data[(data['l_shipmode'] == "AIR") & (data['l_shipinstruct'] == "TAKE BACK RETURN")]
print(len(data2))

21034


## contract

In [68]:
data1 = data[(data['l_shipinstruct'] == "NONE") & (data['l_returnflag'] == "A")]
print(len(data1))

37086

In [69]:
data1 = data[(data['l_linenumber'] == 2) & (data['l_shipinstruct'] == "COLLECT COD")]
print(len(data1))

31271

## refine

In [87]:
data1 = data[(data['l_linenumber'] == 5)]
print(len(data1))

62954

In [88]:
data1 = data[(data['l_returnflag'] == "N") & (data['l_shipinstruct'] == "DELIVER IN PERSON")]
print(len(data1))

71950

In [89]:
data1 = data[(data['l_shipinstruct'] == "DELIVER IN PERSON")]
print(len(data1))

146021